body,
html {
  height: 100%;
}
.background {
  background-image: url("../../../public/images/background/reef.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.homepage-header-container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.homepage-header {
  background-color: #51fb94;
  font-size: 2rem;
  width: 30rem;
  border-radius: 1rem;
  font-size: 3rem;
  padding: 4rem;
}
.homepage-content-container {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}

.links {
  text-decoration: none;
}

.linkContainer {
  background-color: #51fb94;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  padding: 1.5rem;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
